.chart-wrapper {
    position: relative;
    width: 109px;
    height: 101px;
}

.value-display {
    $min-font-size: 25px;
    $max-font-size: 40px;
    position: absolute;
    top: 49%;
    transform: translateY(-50%);
    display: block;
    width: 100%;
    text-align: center;
    @include fluid-type(map-deep-get($devices, 'mobile-s'), map-deep-get($devices, 'tablet'), $min-font-size, $max-font-size);
    font-size: 40px;
    font-family: 'Lato Light', sans-serif;
    letter-spacing: -2px;
    color: #9d9d9d;
    &--small {
        font-size: 30px;
    }
    &--hidden {
        visibility: hidden;
    }
}

.donut-chart-display-value {
    position: absolute;
    top: 49%;
    transform: translateY(-50%);
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: 'Lato Light', sans-serif;
    letter-spacing: -2px;
    color: #9d9d9d;
    pointer-events: none;
    &--hidden {
        visibility: hidden;
    }
}

.chart {
    &__stroke {
        transform-origin: center;
        transform: rotate(-90deg);
        -webkit-tap-highlight-color: transparent;
    }
    &--orange {
        circle {
            stroke: $orange-color;
        }
    }
    &--green {
        circle {
            stroke: $green-color;
        }
    }
}

.donut-chart {
    -webkit-tap-highlight-color: transparent;
    &__stroke {
        $base-class: 'donut-chart__stroke';
        position: relative;
        overflow: hidden;
        transition: opacity 0.3s;
        pointer-events: visibleStroke;
        cursor: pointer;
        &--green {
            stroke: $green-color;
        }
        &--orange {
            stroke: $orange-color;
        }
        &--dark-grey {
            stroke: $dark-grey-color;
        }
        &--light-grey {
            stroke: $light-grey-color;
        }
    }
}