.text-input-wrapper {
    position: relative;
    box-sizing: border-box;
    min-width: 300px;
    width: 100%;
    padding-right: 27.526132404181185%;
    margin-bottom: 12px;
    @include media(map-deep-get($devices, 'tablet')) {
        min-width: 287px;
    }
}

.textarea-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
}

.text-input {
    box-sizing: border-box;
    width: 100%;
    height: 28px;
    padding: 11px 12px;
    border: 0;
    border-radius: 3px;
    outline-style: none;
    outline-color: transparent;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    letter-spacing: 0.14px;
    color: $dark-text-color;
    background-color: $light-grey-color;
}

.text-input-notification-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(0);
    box-sizing: border-box;
    display: block;
    width: 27.526132404181185%;
    height: 28px;
    padding-left: 7px;
    font-size: 10px;
    font-family: 'Lato Black', sans-serif;
    color: #ffffff;
    transition: transform cubic-bezier(.32, .95, .39, .99);
    &__text-input-notification {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        &--correct {
            background-color: $green-color;
        }
        &--error {
            background-color: $orange-color;
        }
    }
}

.textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 88px;
    padding: 11px 12px;
    border: 0;
    border-radius: 3px;
    margin-bottom: 12px;
    outline-style: none;
    outline-color: transparent;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    letter-spacing: 0.14px;
    color: $dark-text-color;
    background-color: $light-grey-color;
}