$colourful-btn-text-color: #ffffff;
$green-color: #4eb7a8;
$orange-color: #e75735;
$dark-grey-color: #747474;
$light-grey-color: #e5e5e5;
$track-bg: #e5e5e5;
$slider-scale-color: #d1d1d1;
$dark-text-color: #888888;